.select-widget {
    background-color: #FFF9F3;
    height: calc(100% - 20px);
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin: 10px;
    border-radius: 5px 5px;
    opacity: 0.85;
    transition: 0.5s;
    transform: scale(0.997);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

.select-widget:hover {
    opacity: 1;
    transform: scale(1);
}

.cow-list-widget {
    width: 90%;
    min-height: 100px;
    max-height: 500px;
    background-color: #3B3B3B;
    padding: 4px;
    margin: 5px 0px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

.current-cows {
    background-color: #3B3B3B;
    min-height: 30px;
    width: 90%;
    padding: 4px;
    margin: 5px 0px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 5px 5px;
}

.available-cows {
    background-color: #FFF9F3;
    min-height: 30px;
    width: 90%;
    padding: 4px;
    margin: 2px 0px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.search-box {
    height: 30px;
    width: 90%;
    padding: 2px 7px;
    margin: 5px auto;
    border-radius: 5px 5px;
    border: 0;
    background-color: #FFF9F3;
    border-bottom: 3px solid #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.no-cows-text {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin: 5px;
}