.select-widget {
    grid-area: select;
    background-color: #FFF9F3;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 5px 5px;
    opacity: 0.85;
    transition: 0.5s;
    transform: scale(0.997);
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr minmax(50%, max-content(90%)); 
    gap: 5px; 
    padding: 5px;
    grid-template-areas: 
    "selected"
    "search"; 
}

.select-widget::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.select-widget:hover {
    opacity: 1;
    transform: scale(1);
}

.cow-list-widget {
    background-color: #3B3B3B;
    padding: 4px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    grid-area: search;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cow-list-widget::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.current-cows {
    background-color: #3B3B3B;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    border-radius: 5px 5px;
    grid-area: selected;
}

.current-cows::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.available-cows {
    background-color: #FFF9F3;
    min-height: 30px;
    max-height: 86%;
    width: 90%;
    padding: 4px;
    margin: 2px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.available-cows::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.search-box {
    height: 30px;
    width: 88%;
    padding: 2px 7px;
    margin: 5px auto;
    border-radius: 10px;
    border: 0;
    background-color: #FFF9F3;
    border-bottom: 3px solid #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.no-cows-text {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin: 5px;
}