.stats-widget {
    grid-area: stats;
    background-color: #FFF9F3;
    width: 100%;
    border-radius: 5px 5px;
    opacity: 0.85;
    transition: 0.5s;
    transform: scale(0.997);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.stats-widget::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.stats-widget:hover {
    opacity: 1;
    transform: scale(1);
}