.tag-text {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

.tag-widget {
    background-color: #d3f2ff;
    border-radius: 1em;
    padding: 0.25rem 1rem;
    border: 1px solid #8BDCFF;
    margin: 0.2rem;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    transition: color 0.1s linear, background-color 0.5s, border 0.5s;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tag-widget:hover{
    background-color: #ff4747;
    border: 1px solid #ff0404;
    color: white;
}

.tag-widget-single {
    background-color: #FFF9F3;
    font-size: 1rem;
    border-radius: 1em;
    padding: 0.25rem 0.5rem;
    border: 1px solid #888;
    opacity: 0.9;
    margin: 5px auto;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}